<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/displayproducts.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/editdash.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Product</title>
</head>

<body>

    <div class="container">
        <div th:replace="~{partials/dashboardsidebar}"></div>

        <main>

            <h1>Products</h1>

            <div class="addprod">
                <form th:action="@{/products/save}" th:object="${product}" method="POST" enctype="multipart/form-data">

                    <h2 class="title">Add a Product</h2>
                    <div class="product-container" style="display: block;">

                        <div class="input">
                            <label for="name">Product Name</label>
                            <div><input type="text" th:field="*{name}" id="name" placeholder="Product name" name="name"
                                    required></div>
                            <span class="errormsg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>

                        <div class="input">
                            <label for="image" class="add-photo-btn">Upload Image</label>
                            <input type="file" id="imageFile" name="imageFile" accept="image/*" required>
                            <span class="errormsg" th:if="${imageError}" th:text="${imageError}"></span>
                        </div>

                        <div class="input">
                            <label for="availability">Availability</label>
                            <div><input type="text" th:field="*{availability}" id="availability" placeholder="Availability" name="availability" required></div>
                            <span class="errormsg" th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"></span>
                        </div>

                        <div class="input">
                            <label for="price">Product Price</label>
                            <div><input type="text" th:field="*{price}" id="price" placeholder="Product Price" name="price" required></div>
                            <span class="errormsg" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                        </div>

                        <div class="input">
                            <label for="description">Product Description</label>
                            <textarea id="description" th:field="*{description}" name="description" rows="4" cols="50" required></textarea>
                            <span class="errormsg" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>

                        <div class="input">
                            <label for="category">Category</label>
                            <div>
                                <select id="category" th:field="*{category}" required>
                                    <option value="">Select Category</option>
                                    <option value="Hair Care">Hair Care</option>
                                    <option value="Skin Care">Skin Care</option>
                                    <option value="Oral Care">Oral Care</option>
                                    <option value="Nutrients">Nutrients</option>
                                    <option value="Topical Muscle Relaxants">Topical Muscle Relaxants</option>
                                    <option value="Feminine">Feminine</option>
                                </select>
                            </div>
                            <span class="errormsg" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
                        </div>

                        <button type="submit" value="Submit" id="add">Add</button>
                        <span>
                            <a href="/products"><button type="button" id="cancel">Cancel</button></a>
                        </span>                  
                      </div>
                      
                </form>
            </div>
        </main>
    </div>
</body>

</html>
