
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <html lang="en">
    <html>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/cart.css"/>
<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<script src='https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

<div class="container">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <img id="logo" src="images/Linko logo transperant.png" alt="logo">
                    <span class="pull-right">(<strong>5</strong>) items</span>

                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                        <img id="pic1" src="images/claritineADV.jpg" alt="claritine">


                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                    <a href="#" class="text-navy">
                                        Claritin Tablet                                    </a>
                                    </h3>
                                    <p class="small">
                                        This medication is an antihistamine that treats symptoms such as itching, 
                                        runny nose, watery eyes, and sneezing from "hay fever" and other allergies. 
                                        It is also used to relieve itching from hives.Loratadine does not prevent hives 
                                        or prevent/treat a serious allergic reaction (anaphylaxis). 
                                    </p>
                              

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                    180,00EGP
                                    <s class="small text-muted">230,00EGP</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        180,00EGP
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                        <img id="pic1" src="images/voltarenADV.jpeg" alt="voltaren">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            Voltaren Arthritis Pain Relief Gel                                        </a>
                                    </h3>
                                    <p class="small">
                                         Voltaren Arthritis Pain Gel is a nonsteroidal anti-inflammatory gel
                                         with a proven safety profile for your arthritis pain, now available 
                                         over-the-counter. Plus, thanks to the specialized Voltaren Emulgel™ 
                                         formulation, it’s non-greasy—which is always nice.                                    </p>
                                

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                    50,00EGP
                                    <s class="small text-muted">63,00EGP</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        100,00EGP
                                    </h4>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                        <img id="pic1" src="images/iburpofenADV.jpeg" alt="ibu">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            Ibuprofen Pills
                                        </a>
                                    </h3>
                                    <p class="small">
                                        Ibuprofen is a nonsteroidal anti-inflammatory drug that is used 
                                        to relieve pain, fever, and inflammation. This includes painful 
                                        menstrual periods, migraines, and rheumatoid arthritis
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                    </dl>

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                    110,00EGP
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        110,00EGP
                                    </h4>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                        <img id="pic1" src="images/centrumADV.jpeg" alt="centrum">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            Centrum Multivitamins Range
                                        </a>
                                    </h3>
                                    <p class="small">

                                        This medication is a multivitamin product used to treat or prevent 
                                        vitamin deficiency due to poor diet, certain illnesses, or during pregnancy. 
                                        Vitamins are important building blocks of the body and help keep you in good health.                                    </p>
                                    

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                    130,00EGP
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        130,00EGP
                                    </h4>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                        <img id="pic1" src="images/advilADV.jpeg" alt="advil">

                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            Advil 
                                        </a>
                                    </h3>
                                    <p class="small">
                                        temporarily reduces fever and relieves minor aches and pains due to 
                                        headaches, toothaches, backaches, menstrual cramps, the common cold, 
                                        muscular aches and the minor pain of arthritis.                                    </p>
                                   
                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>
                                <td>
                                    700,00EGP
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        70,00EGP
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                    <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        390,00EGP
                    </h2>

                    <hr>
                    <span class="text-muted small">
                        *For Egypt applicable sales tax will be applied
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                        <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">
                    <h3><i class="fa fa-phone"></i> +20 108 797 6657 </h3>
                    <span class="small">
                        Please contact with us if you have any questions. We are avalible 24h.
                    </span>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">

                    <p class="font-bold">
                    Other products you may be interested
                    </p>
                    <hr>
                    <div>
                        <a href="#" class="product-name"> Product 1</a>
                        <div class="small m-t-xs">
                            <img id="ads" src="images/vitamins-pills-advertisement-design-template-63c818ff6a88323a25c713c23b8b96a5_screen.jpg" alt="ad1">
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <a href="#" class="product-name"> Product 2</a>
                        <div class="small m-t-xs">
                            <img id="ads" src="images/ad22.jpeg" alt="claritine">
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</html>