<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Order</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/editdash.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div th:replace="~{partials/dashboardsidebar}"></div>


    <main>
        <h1>Edit Order</h1>

        <div class="addprod">
            <form th:action="@{/orders/update/{id}(id=${order.id})}" th:object="${order}" method="POST">
                <input type="hidden" th:field="*{id}" />
                <h2 class="title">Update Order</h2>
                <div class="product-container" style="display: block;">
                    <div class="input">
                        <label for="fname">First Name</label>
                        <div><input type="text" id="fname" th:field="*{fname}" required></div>
                    </div>
            
                    <div class="input">
                        <label for="lname">Last Name</label>
                        <div><input type="text" id="lname" th:field="*{lname}" required></div>
                    </div>
            
                    <div class="input">
                        <label for="phone">Phone</label>
                        <div><input type="text" id="phone" th:field="*{phone}" required></div>
                    </div>
            
                    <div class="input">
                        <label for="address">Address</label>
                        <div><input type="text" id="address" th:field="*{address}" required></div>
                    </div>
            
                    <div class="input">
                        <label for="city">City</label>
                        <div><input type="text" id="city" th:field="*{city}" required></div>
                    </div>
            
                    <div class="input">
                        <label for="totalPrice">Total Amount</label>
                        <div><input type="text" id="totalPrice" th:field="*{totalPrice}" required></div>
                    </div>
            
                    <div class="input">
                        <label for="status">Status</label>
                        <div>
                            <select id="status" name="status" th:field="*{status}">
                                <option value="Pending" th:selected="${order.status == 'Pending'}">Pending</option>
                                <option value="Delivered" th:selected="${order.status == 'Delivered'}">Delivered</option>
                            </select>
                        </div>
                    </div>
                                
                    <button type="submit" id="add">Update</button>
                    <a th:href="@{/orders}"><button type="button">Cancel</button></a>
                </div>
            </form>
            
        </div>
    </main>
</div>
</body>
</html>
