<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${error.errorTitle}"></title>
    <link rel="stylesheet" href="/css/errorPage.css"/>
</head>
<body>
    <div class="error-container">
        <h1 th:text="${error.errorTitle}"></h1>
        <p th:text="${error.errorMessage}"></p>
        <p><a href="/">Go back to home</a></p>
    </div>
</body>
</html>







