<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/forgetPassword.css">
	<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
	<center>
		<div class="form-container">
			<div class="logo-container">
			  Forgot Password
			</div>
	  
			<form class="form">
			  <div class="form-group">
				<label for="email">
					Enter the email address associated with your account
					and we'll send you a link to reset your password.
				</label>
				<center>
				<input type="text" id="email" name="email" placeholder="Enter your email" required="">
				</center>
			  </div>
	  
			  <button class="form-submit-btn" type="submit">Send Email</button>
			</form>
	  
			<p class="signup-link">
			  Don't have an account?
			  <a href="signup" class="signup-link link"> Sign up now</a>
			</p>
		  </div>
</center>
</body>
</html>