<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linko Pharm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gerlach+Sans:wght@400&display=swap">

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Mr+De+Haviland" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg text-white">
      <div class="container" id="q1">
        <img src="/images/linko logo transperant.png" class="img-fluid">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#hero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#blog">products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#service">Service</a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link active" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                  <i class="fas fa-prescription-bottle-alt"></i> <!-- Pharmacy icon -->
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="#">
                  <i class="fas fa-user"></i> <!-- Profile icon -->
              </a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>



  <section id="hero">
    <div class="banner w-100 vh-100 text-center text-white position-relative">
        <video autoplay muted loop class="video">
            <source src="/images/slideshow1.mp4" type="video/mp4">
        </video>
        <img src="images/Linko logo transperant.png" alt="" class="logo">
        <div class="content-overlay"></div>
        <div class="content">
            <h1 class="content-h1" data-aos="fade-up">Welcome TO Linkopharm</h1>
            <h5 class="content-h5" data-aos="fade-down">THE SCIENCE FOR HEALTHIER LIVING</h5>
            <div class="mt-5">
                <button class="btn btn1" data-aos="fade-down"><a href="signup">Sign Up</a></button>
                <button class="btn btn2" data-aos="fade-down"><a href="#contact" class="text-black">Contact us</a></button>
            </div>
        </div>
    </div>
</section>




  <div class="start">
    <h6>The leading</h6>
    <h1 class="start-title">LINKO PHARM PHARMACEUTICALS</h1>
    <p>Your Beauty and Well-being, Our Commitment.</p>
  </div>

  <section id="about" class="section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h5 class="about-heading" data-aos="fade-up">About Us</h5>
          <div class="line" data-aos="fade-down"></div>
          <p class="para" data-aos="fade-down">Linko Pharmaceuticals is a limited liability cosmoceutical company that was established in 2002 with its headquarters located in Cairo with the objective of providing high quality and innovative products to the Egyptian market.</p>
        </div>
      </div>
      <div class="row mt-5 justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12 col-12 section-about">
          <div class="image">
            <img src="/images/aboutus.jpg.jpg" class="img-fluid About-img" data-aos="fade-down" width="500">
        </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12  section-about" data-aos="fade-down">
          <h5>About Linkopharm<span style="font-size: 16px;"> company</span></h5>
          <p class="section-p">We are a company that offers a diversified product range focused on cosmeceuticals and herbal drugs.</p>
          <div class="d-flex pt-4">
            <div class="icon">
              <i class="fa-solid fa-envelopes-bulk"></i>
            </div>
            <div class="text icons ms-3">
              <h5>Board Message
              </h5>
              <p>In our organization we do not undervalue the significance of what we may gain by giving up something.</p>
            </div>
          </div>
          <div class="d-flex  mt-3">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="text icons ms-3">
              <h5>Networking</h5>
              <p>Linko Pharm has grown from a small local company to a market leader of approximately 500 employees.</p>
            </div>
          </div>
          <div class="d-flex  mt-3">
            <div class="icon">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="text icons ms-3">
              <h5>Our Mission</h5>
              <p>Our mission and vision to be one of the major contributors in the cosmeceuticals market in Egypt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- blog -->
  <section id="blog" class="section-padding ">
    <div class="container">
      <div class="row text-center  p-5">
        <div class="col" data-aos="fade-down" data-aos-delay="50">
          <div class="Blog-title">
            <h5>Recent Products</h5>
            <div class="line"></div>
            <p class="para">We Love to craft digital experience for brands rather than crap and more lorem ipsum
              do crazy skills.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mt-4" data-aos="fade-down" data-aos-delay="150">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="/images/blog-1.jpg" class="img-fluid">
            </div>
          </div>
          <div class="blog-content mt-4" data-aos="fade-down" data-aos-delay="150">
            <h5 style="font-size:20px !important;">Web Developer 2024</h1>
              <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ea dolor, totam
                sapiente incidunt fuga.</p>
          </div>
          <a href="#" class="mt-4" style="color: blue!important;" data-aos="fade-down" data-aos-delay="150">Read
            More</a>
        </div>
        <div class="col-lg-4 mt-4" data-aos="fade-down" data-aos-delay="250">
          <div class="team-member image-zoom" >
            <div class="image-zoom-wrapper">
              <img src="/images/blog-1.jpg" class="img-fluid">
            </div>
          </div>
          <div class="blog-content mt-4" data-aos="fade-down" data-aos-delay="250">
            <h5 style="font-size:20px !important;">Web Developer 2024</h1>
              <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ea dolor, totam
                sapiente incidunt fuga.</p>
          </div>
          <a href="#" class="mt-4" style="color: blue!important;" data-aos="fade-down" data-aos-delay="250">Read
            More</a>
        </div>
        <div class="col-lg-4 mt-4" data-aos="fade-down" data-aos-delay="350">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="/images/blog-1.jpg" class="img-fluid">
            </div>
          </div>
          <div class="blog-content mt-4" data-aos="fade-down" data-aos-delay="350">
            <h5 style="font-size:20px !important;">Web Developer 2024</h1>
              <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ea dolor, totam
                sapiente incidunt fuga.</p>
          </div>
          <a href="#" class="mt-4" style="color: blue!important;" data-aos="fade-down" data-aos-delay="350">Read
            More</a>
        </div>
      </div>
    </div>
  </section>

  <section id="service" class="section-padding border-top">
    <div class="container">
      <div class="row text-center">
        <div class="col-12" data-aos="fade-down">
          <div class="service-title">
            <h5 class="service-heading">Services</h5>
            <div class="line"></div>
            <p class="para">We Love to craft digital experience for brands rather than crap and more lorem ipsum
              do crazy skills.</p>
          </div>
        </div>
      </div>
      <div class="row g-4 text-center mt-3 mb-3">
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
          <div class="service shadow justify-content-center">
            <div class="iconbox">
              <i class="fa-solid fa-globe"></i>
            </div>
            <h5 style="font-size: 20px !important;">Web design</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quo eum dolor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
          <div class="service shadow justify-content-center">
            <div class="iconbox">
              <i class="fa-solid fa-tablet-screen-button"></i>
            </div>
            <h5 style="font-size: 20px !important;">Animation</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quo eum dolor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
          <div class="service shadow justify-content-center">
            <div class="iconbox">
              <i class="fa-solid fa-database"></i>
            </div>
            <h5 style="font-size: 20px !important;">Data storage</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quo eum dolor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
          <div class="service shadow justify-content-center">
            <div class="iconbox">
              <i class="fa-solid fa-envelope-circle-check"></i>
            </div>
            <h5 style="font-size: 20px !important;">Email Service</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quo eum dolor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
          <div class="service shadow justify-content-center">
            <div class="iconbox">
              <i class="fa-solid fa-cloud-arrow-down"></i>
            </div>
            <h5 style="font-size: 20px !important;">Cloud services</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quo eum dolor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
          <div class="service shadow justify-content-center">
            <div class="iconbox">
              <i class="fa-solid fa-layer-group"></i>
            </div>
            <h5 style="font-size: 20px !important;">Ux Design</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quo eum dolor.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <!-- Review -->

  <section id="reviews" class="section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-12" data-aos="fade-down" data-aos-delay="50">
          <div class="Review-title">
            <h5>Testimonials</h5>
            <div class="line"></div>
            <p class="para">We Love to craft digital experience for brands rather than crap and more lorem ipsum
              do crazy skills.</p>
          </div>
        </div>
      </div>
      <div class="row mt-4 gy-4 ">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="150">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Amazing design Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
                explicabo doloremque velit maxime tenetur recusandae.dolor sit<br> amet consectetur</p>
            </div>
          </div>
          <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="150">
            <img src="/images/person1.png" class="img-fluid rounded-circle">
            <div class="review-name ms-3 mt-3">
              <h5 style="font-size: 20px !important;">Dianna Russle</h5>
              <p>Ux Architech</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="250">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Amazing design Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
                explicabo doloremque velit maxime tenetur recusandae.dolor sit<br> amet consectetur</p>
            </div>
          </div>
          <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="250">
            <img src="/images/person1.png" class="img-fluid rounded-circle">
            <div class="review-name ms-3 mt-3">
              <h5 style="font-size: 20px !important;">Dianna Russle</h5>
              <p>Ux Architech</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="350">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Amazing design Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
                explicabo doloremque velit maxime tenetur recusandae.dolor sit<br> amet consectetur</p>
            </div>
          </div>
          <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="350">
            <img src="/images/person1.png" class="img-fluid rounded-circle">
            <div class="review-name ms-3 mt-3">
              <h5 style="font-size: 20px !important;">Dianna Russle</h5>
              <p>Ux Architech</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="450">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Amazing design Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
                explicabo doloremque velit maxime tenetur recusandae.dolor sit<br> amet consectetur</p>
            </div>
          </div>
          <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="450">
            <img src="/images/person1.png" class="img-fluid rounded-circle">
            <div class="review-name ms-3 mt-3">
              <h5 style="font-size: 20px !important;">Dianna Russle</h5>
              <p>Ux Architech</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="550">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Amazing design Lorem ipsum, dolor sit amet consectetur adipisicing elit.Expedita
                explicabo doloremque velit maxime tenetur recusandae.dolor sit<br> amet consectetur</p>
            </div>
          </div>
          <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="550">
            <img src="/images/person1.png" class="img-fluid rounded-circle">
            <div class="review-name ms-3 mt-3">
              <h5 style="font-size: 20px !important;">Dianna Russle</h5>
              <p>Ux Architech</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="650">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Amazing design Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
                explicabo doloremque velit maxime tenetur recusandae.dolor sit<br> amet consectetur</p>
            </div>
          </div>
          <div class="image ms-3 d-flex mt-4" data-aos="fade-down" data-aos-delay="650">
            <img src="/images/person1.png" class="img-fluid rounded-circle">
            <div class="review-name ms-3 mt-3">
              <h5 style="font-size: 20px !important;">Dianna Russle</h5>
              <p>Ux Architech</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- team -->
 

  <!-- Contact -->
  <section id="contact" class="section-padding  text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-12" data-aos="fade-down" data-aos-delay="50">
          <div class="contact-title">
            <h5>Contact Us</h5>
            <div class="line bg-white"></div>
            <p class="para" style="color: white;">We Love to craft digital experience for brands rather than crap and
              more lorem ipsum
              do crazy skills.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5  p-4 ">
        <div class="col-lg-8 text-center">
          <form action="#" class="row g-3 p-lg-5 p-4 bg-white shadow" data-aos="fade-down" data-aos-delay="150">
            <div class="col-lg-6 form-group" data-aos="fade-down" data-aos-delay="250">
              <input type="text" class="form-control" placeholder="Enter First Name">
            </div>
            <div class="col-lg-6 form-group" data-aos="fade-down" data-aos-delay="350">
              <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
            <div class="col-lg-12 form-group" data-aos="fade-down" data-aos-delay="450">
              <input type="email" class="form-control" placeholder="Enter email address">
            </div>
            <div class="col-lg-12 form-group" data-aos="fade-down" data-aos-delay="550">
              <input type="text" class="form-control" placeholder="Enter subject">
            </div>
            <div class="col-lg-12 form-group d-grid" data-aos="fade-down" data-aos-delay="650">
              <textarea name="message" rows="5" class="form-control" placeholder="Enter Message"></textarea>
            </div>
            <div class="col-lg-12 form-group d-grid" data-aos="fade-down" data-aos-delay="650">
              <button class="btn1" style="background-color:  #1c2fad !important;">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <Footer class="bg-dark section-padding">
    <div class="container">
      <div class="row text-white mb-5">
        <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="150">
          <div class="logo">
            <img src="img/logo.png" class="img-fluid">
          </div>
          <p class="mt-3 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem
            necessitatibus minima dicta</p>
          <div class="footer-icons text-white">
            <a href=""><i class="fa-brands fa-facebook m-2"></i></a>
            <a href=""><i class="fa-brands fa-twitter  m-2"></i></a>
            <a href=""><i class="fa-brands fa-instagram m-2"></i></a>
            <a href=""><i class="fa-brands fa-github m-2"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="250">
          <h5 class="ms-3">Services</h5>
          <div class="line ms-3" style="width: 40px !important;"></div>
          <p class="ms-3 text-white">Ux Design</p>
          <p class="ms-3 text-white">UI Design</p>
          <p class="ms-3 text-white">Web Design</p>
          <p class="ms-3 text-white">Testing</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="350">
          <h5 class="ms-3">About</h5>
          <div class="line ms-3" style="width: 40px !important;"></div>
          <p class="ms-3 text-white">Blog</p>
          <p class="ms-3 text-white">Pricing</p>
          <p class="ms-3 text-white">Company</p>
          <p class="ms-3 text-white">Career</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 text-white" data-aos="fade-down" data-aos-delay="450">
          <h5 class="ms-3">Contact</h5>
          <div class="line ms-3" style="width: 40px !important;"></div>
          <p class="ms-3 text-white">Kolhapur,416008</p>
          <p class="ms-3 text-white">(414)586-3017</p>
          <p class="ms-3 text-white">www.example.com</p>
          </ul>
        </div>
      </div>
    </div>
    <div class="contanier" data-aos="fade-down" data-aos-delay="550" style="border-top:0.5px solid gray ;">
      <div class="row mt-5 mb-0">
        <div class="col-auto">
        
        </div>
      </div>
    </div>
  </Footer>

  <script src="/js/script.js"></script>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>


</html>