<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linko Pharm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gerlach+Sans:wght@400&display=swap">

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Mr+De+Haviland" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
  .badge {
  font-size: 0.8rem; /* Adjust the font size as needed */
  position: absolute; /* Position the badge absolutely */
  top: 22px; /* Adjust the top position to move it above the icon */
  left: 84.5%; /* Center the badge horizontally */
  transform: translateX(-50%); /* Center the badge horizontally */
}

.footer-logo {
  /* Ensure the image is a block-level element */
  margin: 0 auto; /* Center the image horizontally */
  width: 150px;
  height: 100px; /* Set the width of the image */
  margin-bottom: 8px; 
  margin-left: 12%;/* Add some bottom margin to create space between the image and the text */
  top: 10%;
}

</style>
<body data-bs-spy="scroll" data-bs-target=".navbar">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg text-white">
      <div class="container" id="q1">
        <img src="/images/linko logo transperant.png" class="img-fluid">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#hero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#blog">products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#service">Categories</a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link active" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/cart">
                  <i class="fas fa-prescription-bottle-alt"></i> <!-- Pharmacy icon -->
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/User/profile">
                  <i class="fas fa-user"></i> <!-- Profile icon -->
              </a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>



  <section id="hero">
    <div class="banner w-100 vh-100 text-center text-white position-relative">
        <video autoplay muted loop class="video">
            <source src="/images/slideshow1.mp4" type="video/mp4">
        </video>
        <img src="images/Linko logo transperant.png" alt="" class="logo">
        <div class="content-overlay"></div>
        <div class="content">
            <h1 class="content-h1" data-aos="fade-up">Welcome TO Linkopharm</h1>
            <h5 class="content-h5" data-aos="fade-down">THE SCIENCE FOR HEALTHIER LIVING</h5>
            <div class="mt-5">
                <button class="btn btn1" data-aos="fade-down"><a href="/User/Registration">Sign Up</a></button>
                <button class="btn btn2" data-aos="fade-down"><a href="#contact" class="text-black">Contact us</a></button>
            </div>
        </div>
    </div>
</section>




  <div class="start">
    <h6>The leading</h6>
    <h1 class="start-title">LINKO PHARM PHARMACEUTICALS</h1>
    <p>Your Beauty and Well-being, Our Commitment.</p>
  </div>

  <section id="about" class="section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h5 class="about-heading" data-aos="fade-up">About Us</h5>
          <div class="line" data-aos="fade-down"></div>
          <p class="para" data-aos="fade-down">Linko Pharmaceuticals is a limited liability cosmoceutical company that was established in 2002 with its headquarters located in Cairo with the objective of providing high quality and innovative products to the Egyptian market.</p>
        </div>
      </div>
      <div class="row mt-5 justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12 col-12 section-about">
          <div class="image">
            <img src="/images/aboutus.jpg.jpg" class="img-fluid About-img" data-aos="fade-down" width="500">
        </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12  section-about" data-aos="fade-down">
          <h5>About Linkopharm<span style="font-size: 16px;"> company</span></h5>
          <p class="section-p">We are a company that offers a diversified product range focused on cosmeceuticals and herbal drugs.</p>
          <div class="d-flex pt-4">
            <div class="icon">
              <i class="fa-solid fa-envelopes-bulk"></i>
            </div>
            <div class="text icons ms-3">
              <h5>Board Message
              </h5>
              <p>In our organization we do not undervalue the significance of what we may gain by giving up something.</p>
            </div>
          </div>
          <div class="d-flex  mt-3">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="text icons ms-3">
              <h5>Networking</h5>
              <p>Linko Pharm has grown from a small local company to a market leader of approximately 500 employees.</p>
            </div>
          </div>
          <div class="d-flex  mt-3">
            <div class="icon">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="text icons ms-3">
              <h5>Our Mission</h5>
              <p>Our mission and vision to be one of the major contributors in the cosmeceuticals market in Egypt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- blog -->
  <section id="blog" class="section-padding ">
    <div class="container">
      <div class="row text-center  p-5">
        <div class="col" data-aos="fade-down" data-aos-delay="50">
          <div class="Blog-title">
            <h5>Recent Products</h5>
            <div class="line"></div>
            <p class="para">We're passionate about creating innovative healthcare solutions..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mt-4" data-aos="fade-down" data-aos-delay="150">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="images/Vulga cream.png" class="img-fluid">
            </div>
          </div>
          <div class="blog-content mt-4" data-aos="fade-down" data-aos-delay="150">
            <h5 style="font-size:20px !important;">  Vulga Cream   </h1>
              <p class="mb-3"> A Treatment for Acne, for all skin types. Licorice, glycolic acid, salicylic acid, Tea tree oil, Emu oil. </p>
          </div>
          <a href="#" class="mt-4" style="color: blue!important;" data-aos="fade-down" data-aos-delay="150">More Details</a>
        </div>
        <div class="col-lg-4 mt-4" data-aos="fade-down" data-aos-delay="250">
          <div class="team-member image-zoom" >
            <div class="image-zoom-wrapper">
              <img src="images/Defanso soap.png" class="img-fluid">
            </div>
          </div>
          <div class="blog-content mt-4" data-aos="fade-down" data-aos-delay="250">
            <h5 style="font-size:20px !important;">  Defenso soap</h1>
              <p class="mb-3"> Defenso Antiseptic soap (100 gm) Anti-acne soap ... Defenso soap Usage: Clean the body by the soap once daily.

              </p>
          </div>
          <a href="#" class="mt-4" style="color: blue!important;" data-aos="fade-down" data-aos-delay="250">More Details</a>
        </div>
        <div class="col-lg-4 mt-4" data-aos="fade-down" data-aos-delay="350">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="images/Vindo Serum.png" class="img-fluid">
            </div>
          </div>
          <div class="blog-content mt-4" data-aos="fade-down" data-aos-delay="350">
            <h5 style="font-size:20px !important;"> Vindo serum</h1>
              <p class="mb-3">VINDO Serum contains a group of oils, including Argan oil, which helps to grow and nourish hair It moisturizes the hair, Useful in the case of dry and brittle hair.

              </p>
          </div>
          <a href="#" class="mt-4" style="color: blue!important;" data-aos="fade-down" data-aos-delay="350">More Details</a>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a href="/products/view" class="mt-4" style="color: #ff4c4c!important;" data-aos="fade-down" data-aos-delay="350">Show All Products </a>
  </section>

  <section id="service" class="section-padding border-top">
    <div class="container">
      <div class="row text-center">
        <div class="col-12" data-aos="fade-down">
          <div class="service-title">
            <h5 class="service-heading">Categories</h5>
            <div class="line"></div>
            <p class="para">Explore our range of categories and find what you need.</p>
          </div>
        </div>
      </div>
      <div class="row g-4 text-center mt-3 mb-3">
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="850">
          <div class="service shadow justify-content-center">
              <div class="iconbox">
                  <i class="fas fa-spa"></i> 
              </div>
              <h5 style="font-size: 20px !important;">SKIN CARE</h5>
              <p>Discover top-tier products to nourish and protect your skin.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="950">
          <div class="service shadow justify-content-center">
              <div class="iconbox">
                <i class="fas fa-scissors"></i> 
              </div>
              <h5 style="font-size: 20px !important;">HAIR CARE</h5>
              <p>Explore solutions for healthy, vibrant hair from root to tip.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="1050">
          <div class="service shadow justify-content-center">
              <div class="iconbox">
                  <i class="fas fa-tooth"></i> 
              </div>
              <h5 style="font-size: 20px !important;">ORAL CARE</h5>
              <p>Maintain your dental health with our comprehensive oral care products.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="750">
          <div class="service shadow justify-content-center">
              <div class="iconbox">
                  <i class="fas fa-apple-alt"></i> 
              </div>
              <h5 style="font-size: 20px !important;">Nutrients</h5>
              <p>Boost your health with essential nutrients and vitamins.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
          <div class="service shadow justify-content-center">
              <div class="iconbox">
                  <i class="fas fa-user-injured"></i> 
              </div>
              <h5 style="font-size: 20px !important;">TOPICAL MUSCLE RELAXANTS</h5>
              <p>Relieve muscle pain and discomfort with our effective topical solutions.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
          <div class="service shadow justify-content-center">
              <div class="iconbox">
                  <i class="fas fa-venus"></i> 
              </div>
              <h5 style="font-size: 20px !important;">Feminine</h5>
              <p>Find gentle and effective products for feminine health and hygiene.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="reviews" class="section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-12" data-aos="fade-down" data-aos-delay="50">
          <div class="Review-title">
            <h5>Customers Feedback</h5>
            <div class="line"></div>
            <p class="para">Your insights and experiences fuel our journey to excellence. Share your feedback, and let's shape the future of healthcare together.</p>
          </div>
        </div>
      </div>
      <div class="row mt-4 gy-4">
        <!-- Review 1 -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="150">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Extremely satisfied with the skincare line! My skin has never felt better. The personalized advice was a game changer.</p>
            </div>
            <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="150">
              <img src="/images/person1.png" class="img-fluid rounded-circle">
              <div class="review-name ms-3 mt-3">
                <h5 style="font-size: 20px !important;">Saher Amr</h5>
                <p>Customer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Review 2 -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="250">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star-half-stroke" style="color: #FFD43B;"></i>
                <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">The oral care products are good, but I wish there were more natural flavor options. Delivery was swift, though!</p>
            </div>
            <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="250">
              <img src="/images/person2.png" class="img-fluid rounded-circle">
              <div class="review-name ms-3 mt-3">
                <h5 style="font-size: 20px !important;">Essam omar</h5>
                <p>Customer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Review 3 -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="reviw">
            <div class="review-box shadow p-4" data-aos="fade-down" data-aos-delay="350">
              <div class="review-icon">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </div>
              <p class="mt-3">Top-notch customer service and high-quality products. The feminine care range is particularly impressive.</p>
            </div>
            <div class="image d-flex ms-3 mt-4" data-aos="fade-down" data-aos-delay="350">
              <img src="/images/person3.png" class="img-fluid rounded-circle">
              <div class="review-name ms-3 mt-3">
                <h5 style="font-size: 20px !important;">Asmaa galal</h5>
                <p>Customer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- team -->
 

  <!-- Contact -->
  <section id="contact" class="section-padding  text-white">
    <div class="contactus">
      <div class="title">
          <h2>Contact us</h2>
      </div>
      <div class="box">
          <div class="contact form">
          <h3>Send a Message </h3>
          <form>
              <div class="formbox">
                  <div class="row50">
                      <div class="inputbox">
                          <span>First Name</span>
                          <input type="text" placeholder="name">
                      </div>
                      <div class="inputbox">
                          <span>Last Name</span>
                          <input type="text" placeholder="name">
                      </div>
                  </div>

                  <div class="row50">
                      <div class="inputbox">
                          <span>Email</span>
                          <input type="text" placeholder="namee@gmail.com">
                      </div>
                      <div class="inputbox">
                          <span>Mobile</span>
                          <input type="text" placeholder="+20-3-xxx-xxxx">
                      </div>
                  </div>
                  <div class="row100">
                      <div class="inputbox">
                          <span>Message</span>
                         <textarea placeholder="Write your message here.."></textarea>
                      </div>
              </div>
              <div class="row100">
                      <div class="inputbox">
                          <input type="submit" value="send">
                      </div>
              </div>
              </div>
          </form>
          </div>
   
          <div class="contact info">
          <h3>Contact Info</h3>
          <div class="infobox">
              <div>
                  <span><ion-icon name="location"></ion-icon></span>
                  <p>17 Street, Cairo <br>EGYPT</p>
              </div>
              <div>
                  <span><ion-icon name="mail"></ion-icon></span>
                  <a href="mailtoLinko@gmail.com">Linko@gmail.com</a>
              </div>
              <div>
                  <span><ion-icon name="call"></ion-icon></span>
                  <a href="tel:+201234567890">+20 123 456 7890</a>
              </div>


              <ul class="sci">
                  <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
              </ul>
          </div>
          </div>
      
          <div class="contact map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13806.837479012767!2d31.
              266953453397168!3d30.10250879830669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
              1s0x14583f33ac2f3715%3A0xc4a7c2debc3a47b2!2sLINKOPHARM!5e0!3m2!1sen!2seg!4v1698082558695
              !5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
  </div>
  </section>

  <!-- Footer -->
  <footer class="bg-dark section-padding">
    <img src="/images/linko logo transperant.png" class="footer-logo">
    <div class="container">
        <div class="row text-white mb-5">
            <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="150">
                <div class="logo">
                 
                </div>
                <p class="mt-3 text-white">Welcome to Linkopharm, your trusted Pharmaceuticals company.</p>
                <div class="footer-icons text-white">
                    <a href="#"><i class="fab fa-facebook m-2"></i></a>
                    <a href="#"><i class="fab fa-twitter m-2"></i></a>
                    <a href="#"><i class="fab fa-instagram m-2"></i></a>
                    <a href="#"><i class="fas fa-prescription-bottle-alt m-2"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="250">
                <h5 class="ms-3">Services</h5>
                <div class="line ms-3" style="width: 40px !important;"></div>
                <p class="ms-3 text-white">Medication Delivery</p>
                <p class="ms-3 text-white">Telemedicine Consultation</p>
                <p class="ms-3 text-white">Prescription Refills</p>
                <p class="ms-3 text-white">Emergency Medical Assistance</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="350">
                <h5 class="ms-3">About</h5>
                <div class="line ms-3" style="width: 40px !important;"></div>
                <p class="ms-3 text-white">Blog</p>
                <p class="ms-3 text-white">Pharmacy Pricing</p>
                <p class="ms-3 text-white">Company Overview</p>
                <p class="ms-3 text-white">Pharmacy Career</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 text-white" data-aos="fade-down" data-aos-delay="450">
                <h5 class="ms-3">Contact</h5>
                <div class="line ms-3" style="width: 40px !important;"></div>
                <p class="ms-3 text-white">Kolhapur, 416008</p>
                <p class="ms-3 text-white">(414) 586-3017</p>
                <p class="ms-3 text-white">www.linkopharm.com</p>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-down" data-aos-delay="550" style="border-top: 0.5px solid gray;">
        <div class="row mt-5 mb-0">
            <div class="col-auto">
                <!-- Additional content if needed -->
            </div>
        </div>
    </div>
</footer>

  <script src="/js/script.js"></script>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>


</html>