<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productsPage.css"/>

    
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gerlach+Sans:wght@400&display=swap">
    <title>Product Page</title>    
</head>


<body>
    <div th:replace="~{partials/navbar}"></div>
    <div class="navbar1">
        <div class="dropdown">
            <a href="#" class="navbar-item">Categories</a>
            <div class="dropdown-content">
                <a href="#" data-filter="category" data-value="all">All</a>
                <a href="#" data-filter="category" data-value="Shampoo">Shampoo</a>
                <a href="#" data-filter="category" data-value="Sunblock">Sunblock</a>
            </div>
        </div>
    </div>
    <div  class="container">
        <div th:each="product : ${products}" class="product category2" th:data-category="${product.category}">
            <img th:src="@{'/images/' + ${product.imagePath}}" th:alt="${product.name}">
            <div class="product-info">
                <div class="product-title" th:text="${product.name}"></div>
                <div class="product-price" th:text="${product.price} + ' EGP'"></div>
            </div>
            <div class="product-overlay">
                <div class="product-overlay-content">
                    <a th:href="@{'/productsPage/productDetails/' + ${product.id}}">
                    <h3 class="product-name" th:text="${product.name}"></h3>
                    </a>
                    <p th:text="${product.description}"></p>
                    <button>Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.dropdown-content a').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                const filterType = item.getAttribute('data-filter');
                const filterValue = item.getAttribute('data-value');
                filterProducts(filterType, filterValue);
            });
        });

        function filterProducts(filterType, filterValue) {
            const products = document.querySelectorAll('.product');
            products.forEach(product => {
                const category = product.getAttribute('data-category');
                if (filterType === 'category' && (filterValue === 'all' || category === filterValue)) {
                    product.style.display = 'block';
                } else {
                    product.style.display = 'none';
                }
            });
        }
    </script>

</body>
</html>





























