<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetails.css"/>
    <title>Product details</title>
</head>
<body>
    <div th:replace="~{partials/navbar}"></div>
    <div class="hero">
        <div class="mainContainer">
            <div class="container">
                <div class="left">
                    <a class="back" href="/productsPage/view">Back</a>
                    <div class="productInfo">
                        <h1 class="product-name" th:text="${product.name}"></h1>
                        <p class="product-price" th:text="'Price: ' + ${product.price} + ' EGP'"></p>
                        <div class="availability">
                            <p class="stock" th:text="'Availability: ' + ${product.availability}"></p>
                        </div>
                        <p class="product-code" th:text="'Product code: ' + ${product.id}"></p>
                        <p class="product-category" th:text="'Category: ' + ${product.category}"></p>
                        <button type="button" class="button">
                            <span class="button__text">ADD TO CART</span>
                            <span class="button__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                                    <line y2="19" y1="5" x2="12" x1="12"></line>
                                    <line y2="12" y1="12" x2="19" x1="5"></line>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="right">
                    <img id="myImg" class="product-image" th:src="@{'/images/' + ${product.imagePath}}" th:alt="${product.name}">
                </div>
            </div>
        </div>
    </div>
    <div class="product-Description">
        <h1 class="prodDescription">Product Description:</h1>
        <p th:text="${product.description}"></p>
    </div>
    <br>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() { 
            modal.style.display = "none";
        }
    </script>
</body>
</html>






