




<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>signup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/css/signup.css">
	


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gerlach+Sans:wght@400&display=swap">
	</head>



	<body>
		<div th:replace="~{partials/navbar}"></div>
	<div class="macontainer">



		<h1>Sign Up Now</h1>
		<h3>Linkopharm</h3>
		<form th:action="@{/User/Registration}" th:object="${user}" method="POST">
			<!-- <label><b>Firstname: </b> </label> -->
			<input type="text" th:field="*{firstname}" id="inputfname" name="firstname" placeholder="Firstname" size="15" />
			<div id='fname' class='err'></div>
			<!-- <label> <b>Middlename:</b> </label> -->
			<input type="text" th:field="*{lastname}" id="inputmname" name="lastname" placeholder="Lastname" size="15" />
			<div id='mname' class='err'></div>

			<!-- <label> <b>Lastname</b>: </label> -->
			<input type="text" id="inputlname" th:field="*{username}" name="username" placeholder="Username" size="15" />
			<div id='lname' class='err'></div>


			<!-- <label>
 <b>Phone:</b>
</label> -->


			<!-- <label for="email"><b>Email</b></label> -->
			<input type="email" id="inputmail" th:field="*{email}" placeholder="Enter Email" name="email" required>
			<div id='mail' class='err'></div>


			<select name="gender" id="" class="form-control" required>
							<option value="" disabled selected>Gender</option>
							<option value="male">Male</option>
							<option value="femal">Female</option>
						</select>
			<div id='phone' class='err'></div>
			<!-- <label for="psw"><b>Password</b></label> -->
			<input type="password" th:field="*{password}" name="password" id="inputpass" placeholder="Enter Password">
			<div id='password' class='err'></div>
			<!-- <label for="psw-confirm"><b>Re-type Password</b></label> -->
			<input type="password" name="password2" id="inputcpass" placeholder="confirm Password">
			<div id='cpassword' class='err'></div>

			<button type="submit" class="lll" value="signup" name="reg">Sign Up</button>
		</form>


		<p>Already have account? <a href="login.php">sign
				in</a></p>





	</div>


</body>








</html>