 <!-- Footer -->
 <footer class="bg-dark section-padding">
    <img src="/images/linko logo transperant.png" class="footer-logo">
    <div class="container">
        <div class="row text-white mb-5">
            <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="150">
                <div class="logo">
                 
                </div>
                <p class="mt-3 text-white">Welcome to Linkopharm, your trusted Pharmaceuticals company.</p>
                <div class="footer-icons text-white">
                    <a href="#"><i class="fab fa-facebook m-2"></i></a>
                    <a href="#"><i class="fab fa-twitter m-2"></i></a>
                    <a href="#"><i class="fab fa-instagram m-2"></i></a>
                    <a href="#"><i class="fas fa-prescription-bottle-alt m-2"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="250">
                <h5 class="ms-3">Services</h5>
                <div class="line ms-3" style="width: 40px !important;"></div>
                <p class="ms-3 text-white">Medication Delivery</p>
                <p class="ms-3 text-white">Telemedicine Consultation</p>
                <p class="ms-3 text-white">Prescription Refills</p>
                <p class="ms-3 text-white">Emergency Medical Assistance</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-down" data-aos-delay="350">
                <h5 class="ms-3">About</h5>
                <div class="line ms-3" style="width: 40px !important;"></div>
                <p class="ms-3 text-white">Blog</p>
                <p class="ms-3 text-white">Pharmacy Pricing</p>
                <p class="ms-3 text-white">Company Overview</p>
                <p class="ms-3 text-white">Pharmacy Career</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 text-white" data-aos="fade-down" data-aos-delay="450">
                <h5 class="ms-3">Contact</h5>
                <div class="line ms-3" style="width: 40px !important;"></div>
                <p class="ms-3 text-white">Kolhapur, 416008</p>
                <p class="ms-3 text-white">(414) 586-3017</p>
                <p class="ms-3 text-white">www.linkopharm.com</p>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-down" data-aos-delay="550" style="border-top: 0.5px solid gray;">
        <div class="row mt-5 mb-0">
            <div class="col-auto">
                <!-- Additional content if needed -->
            </div>
        </div>
    </div>
</footer>
