<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gerlach+Sans:wght@400&display=swap">
 
   
  
   <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
           <img src="/images/linko logo transperant.png" alt="Logo">
        </div>
        <ul class="navbar-nav">
           <li class="nav-item"><a href="#home">Home</a></li>
           <li class="nav-item"><a href="#about">About</a></li>
           <li class="nav-item"><a href="#about">Products</a></li>
           <li class="nav-item"><a href="#services">Service</a></li>
           <li class="nav-item"><a href="#about">Reviews</a></li>
           <li class="nav-item"><a href="#contact">Contact</a></li>
           <li class="nav-item">
              <a href="cart">
                
                 <i class="fas fa-prescription-bottle-alt"></i>
              </a>
           </li>
           <li class="nav-item">
              <a href="profile">
                 <i class="fas fa-user"></i>
              </a>
           </li>
        </ul>
     </nav>
</body>
</html>
